<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update a job</title>

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div id="main">
    <div id="header"> <a href="/" class="logo"><img src="../static/images/logo.png" th:src="@{/images/logo.png}" width="101" height="100" alt="" /></a>
        <ul id="top-navigation">
            <li><span><span><a href="/">Homepage</a></span></span></li>
            <li><span><span><a href="/job/list">Jobs</a></span></span></li>
            <li><span><span><a href="/job/add">Add Job</a></span></span></li>
            <li><span><span><a href="/h2-console">H2 Admin Console</a></span></span></li>
        </ul>
    </div>
    <div id="middle">

            <form id="updateJobForm"
                  action="#"
                  th:action="@{'/job/save'}"
                  th:object="${job}"
                  method="post">

                <fieldset>


                                <input required type="number" readonly th:field="*{jobId}" id="jobId" hidden>

                        <tr>
                            <p class="required"><strong>job Name</strong></p>

                                <input required th:field="*{jobName}" id="jobName" minlength="5" maxlength="30"
                                       pattern="^[A-Za-z0-9]+$">
                            <p class="msg">letters and numbers only, no punctuation or special characters</p>


                            <p class="required"><strong>job Description</strong></p>
                                <input required th:field="*{jobDescription}" id="jobDescription" minlength="10" maxlength="200"
                                       pattern="^[A-Za-z0-9]+$">
                            <p class="msg">letters and numbers only, no punctuation or special characters</p>

                        <p class="required"><strong>Salary</strong></p>

                            <input required type="number" min="1" step="0.01" th:field="*{salary}" id="salary">
                            <span>SAR</span>


                            <p class="required"><strong>Job due date</strong></p>
                                <input required type="date" th:field="*{dueDate}" id="jobdueDate">

                                <button class="button" type="submit" id="submit">Update</button>


                </fieldset>

            </form>

        </div>
    </div>
</div>
</div>

</body>
</html>